- name: include role vars
  include_vars:
    file: "{{playbook_dir}}/roles/tools_and_monitoring/vars/main.yml"

- name: install apt db packages (pkg name)
  when: (ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu')
  apt:
    deb: "{{item}}"
  with_items: "{{os[dist].pmm_client.install_packages }}"


- name: enable pmm3-client repo
  when: (ansible_distribution == 'CentOS' or ansible_distribution == 'Rocky' or ansible_distribution == 'Red Hat Enterprise Linux' or ansible_distribution == 'OracleLinux') and pmm_client_version.startswith('3')
  shell:
    cmd: >-
      percona-release enable pmm3-client
- name: install PMM client rpm packages
  when: (ansible_distribution == 'CentOS' or ansible_distribution == 'Rocky' or ansible_distribution == 'Red Hat Enterprise Linux' or ansible_distribution == 'OracleLinux')
  yum:
    name: "{{pmm_client_packages }}"
    state: present
    disable_gpg_check: yes

- name: Setup pmm-admin PMM2
  when: (pmm_client_version is regex('^[23](\..*)?$')) and (pmm_url != '') and install_only == ''
  register: pmm_admin_config
  changed_when: "'already exists' not in pmm_admin_config.stdout"
  vars:
    pmm_full_url: "{{ pmm_url if '://' in pmm_url else 'https://admin:verysecretpassword1%5E@' + pmm_url + (':8443' if ':' not in pmm_url else '') }}"
  shell:
    cmd: >-
      until curl -k "{{pmm_full_url}}"/graph/ |grep -q grafana ; do sleep 1 ; done;
      /usr/bin/pmm-admin config
      --server-insecure-tls
      --server-url="{{pmm_full_url}}" || true
- name: Setup pmm-admin PMM1
  when: pmm_client_version.startswith('1.') and pmm_url != '' and install_only == ''
  register: pmm_admin_config
  changed_when: "'already exists' not in pmm_admin_config.stdout"
  shell:
    cmd: >-
      pmm-admin config
      --server-insecure-ssl
      --server=$(echo "{{pmm_url}}"|awk -F '[/:@]' '{print $6}'):$(echo "{{pmm_url}}"|awk -F '[/:@]' '{print $7}')
      --server-user=$(echo "{{pmm_url}}"|awk -F '[/:@]' '{print $4}')
      --server-password=$(echo "{{pmm_url}}"|awk -F '[/:@]' '{print $5}') || true


